<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=Parking.db"
			 providerName ="System.Data.SqlClient"/>			
	</connectionStrings>

	<appSettings>	
		<add key ="ApiKey" 
			 value="1793510af47c955bb257b714d4524388" />
	</appSettings>
	
</configuration>